{% extends "Shared/landingPageLayout.html" %}
{% load static %}
{% block content %}

    {% comment %} Slider {% endcomment %}

    <section class="hero-section" style="background-image: url('{% static 'images/administrative/slider.jpg' %}');">
        <div class="hero-overlay">
            <div class="hero-text">
                <h1>Welcome to NMMC Library</h1>
                <p>Explore our libraries and discover knowledge.</p>
            </div>
        </div>
    </section>

    <section id="libraries-section">
        <div class="container">
            <div class="section-header">
                <h2 class="section-title">Find Out Libraries in NMMC</h2>

                <!-- View Toggle (Desktop Only) -->
                <div class="view-toggle">
                    <button id="grid-view-btn" title="Grid View" class="active">
                        <i class="fas fa-th-large"></i>
                    </button>
                    <button id="list-view-btn" title="List View">
                        <i class="fas fa-list"></i>
                    </button>
                </div>
            </div>

            <div class="card-grid">
                {% for library in library_details %}
                    <div class="library-card">
                        <img src="{% static 'images/administrative/Vishnudas-Bhave-Outdoor.jpg' %}" alt="{{ library.library_name }}" class="library-img">
                        <div class="library-content">
                            <h3>{{ library.library_name }} - Vashi</h3>
                            <h4>Established: {{ library.establishedYear }}</h4>
                            <p>{{ library.about_library }}</p>
                            
                            <form method="POST" action="{% url 'service_redirect' %}">
                                {% csrf_token %}
                                <input type="hidden" name="library_code" value="{{ library.library_code }}">
                                <button type="submit" class="card-btn">View More</button>
                            </form>

                        </div>
                    </div>
                {% endfor %}
            </div>

           
        </div>
    </section>


<script>
    document.getElementById("grid-view-btn").addEventListener("click", function () {
        document.querySelector(".card-grid").classList.add("grid-view");
        document.querySelector(".card-grid").classList.remove("list-view");
        this.classList.add("active");
        document.getElementById("list-view-btn").classList.remove("active");
    });

    document.getElementById("list-view-btn").addEventListener("click", function () {
        document.querySelector(".card-grid").classList.add("list-view");
        document.querySelector(".card-grid").classList.remove("grid-view");
        this.classList.add("active");
        document.getElementById("grid-view-btn").classList.remove("active");
    });
</script>

{% endblock %}
